{# This is the leaf template #}
{#. This is for EVPN #}

service routing protocols model multi-agent

{# This section is static, no need to modify#}

ip prefix-list LOOPBACK
    seq 10 permit 10.1.0.0/24 eq 32
    seq 20 permit 10.1.1.0/24 eq 32
    seq 30 permit 10.2.0.0/24 eq 32
    seq 40 permit 10.2.1.0/24 eq 32

route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK

{# Pull the ASN and router-id from the underlay.yml file #}

router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4'] }}
   no bgp default ipv4-unicast
   maximum-paths 3
   distance bgp 20 200 200

{# This is the connection to the spines#}

   neighbor SPINE_Underlay peer group  
   neighbor SPINE_Underlay remote-as {{ underlay['global']['DC2']['spine_ASN'] }}
   neighbor SPINE_Underlay send-community
   neighbor SPINE_Underlay maximum-routes 12000

{# This is the connection to the leaf peer #}

   neighbor LEAF_Peer peer group
   neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   neighbor LEAF_Peer next-hop-self
   neighbor LEAF_Peer maximum-routes 12000


{# This must be a loop, preferably a "for" loop, to put the neighbor relationships in #}
{% for neighbor in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ neighbor }} peer group SPINE_Underlay
{% endfor %}
 {# This is a conditional (if statements), if the switch is "Odd" the neighbor is 192.168.255.2, if it's even the neighbor is 192.168.255.1 #}
{% if 'Odd' in underlay[inventory_hostname]['MLAG'] %}
  neighbor 192.168.255.2 peer group LEAF_Peer
{% elif 'Even' in underlay[inventory_hostname]['MLAG'] %}
  neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}

   {#   neighbor 192.168.255.2 peer group LEAF_Peer #}
   {#.  neighbor 192.168.255.1 peer group LEAF_Peer #}

{# This part is static and you don't need to change #}
   redistribute connected route-map LOOPBACK
   address-family ipv4
     neighbor SPINE_Underlay activate
     neighbor LEAF_Peer activate
     redistribute connected route-map LOOPBACK

   neighbor SPINE_Overlay peer group
   neighbor SPINE_Overlay remote-as 65200
   neighbor SPINE_Overlay update-source loopback0
   neighbor SPINE_Overlay send-community
   neighbor SPINE_Overlay maximum-routes 0
   neighbor SPINE_Overlay ebgp-multihop
   neighbor {{ underlay['spine1-DC2']['interfaces']['loopback0']['ipv4'] }} peer group SPINE_Overlay
   neighbor {{ underlay['spine2-DC2']['interfaces']['loopback0']['ipv4'] }} peer group SPINE_Overlay
   neighbor {{ underlay['spine3-DC2']['interfaces']['loopback0']['ipv4'] }} peer group SPINE_Overlay

   address-family evpn
     bgp next-hop-unchanged
     neighbor SPINE_Overlay activate

