{# This creates the VLAN database entries #}
spanning-tree mode mstp
no spanning-tree vlan-id 4093
vlan 4093
   name MLAG_4093_Jinja
   trunk group MLAGPEER

{# This creates the SVIs #}
interface Vlan4093
  description MLAG PEER LINK
  ip address 192.168.255.2/30

interface Port-Channel10
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  switchport trunk group MLAGPEER

mlag configuration
  domain-id MLAG
  local-interface Vlan4093
  peer-address 192.168.255.1
  peer-link Port-Channel10

interface Ethernet1
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  channel-group 10 mode active

interface Ethernet2
  description MLAG PEER LINK -- LEAF
  switchport mode trunk
  channel-group 10 mode active