{% for item in config[inventory_hostname]['interfaces'] %}

interface {{ item }}
  ip address {{ config[inventory_hostname]['interfaces'][item]['ipv4'] }}/{{ config[inventory_hostname]['interfaces'][item]['mask']}}
{% if "Ethernet" in item %}
  no switchport
  mtu {{ config['global']['MTU'] }}
{% endif %}
{% endfor %}

{# This creates the VLAN database entries #}
spanning-tree mode mstp
no spanning-tree vlan-id 4094
vlan 4094
   name MLAG_4094_Jinja!
   trunk group MLAGPEER

{# This creates the SVIs #}
interface Vlan4094
  description MLAG PEER LINK
{% if 'Even' in config[inventory_hostname]['MLAG'] %}
  ip address 192.168.255.2/30
{% elif 'Odd' in config[inventory_hostname]['MLAG'] %}
  ip address 192.168.255.1/30
{% endif %}

interface Port-Channel10
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  switchport trunk group MLAGPEER

mlag configuration
  domain-id MLAG
  local-interface Vlan4094
{% if 'Even' in config[inventory_hostname]['MLAG'] %}
  peer-address 192.168.255.1
{% elif 'Odd' in config[inventory_hostname]['MLAG'] %}
  peer-address 192.168.255.2
{% endif %}
  peer-link Port-Channel10

interface Ethernet1
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  channel-group 10 mode active

interface Ethernet2
  description MLAG PEER LINK -- LEAF
  switchport mode trunk
  channel-group 10 mode active


ip prefix-list LOOPBACK
    seq 10 permit 192.168.101.0/24 eq 32
    seq 20 permit 192.168.201.0/24 eq 32
    seq 30 permit 192.168.102.0/24 eq 32
    seq 40 permit 192.168.202.0/24 eq 32
    seq 50 permit 192.168.253.0/24 eq 32

route-map LOOPBACK permit 10
  match ip address prefix-list LOOPBACK

router bgp {{ config['global']['BGP']['ASN'][inventory_hostname] }}
  router-id {{ config[inventory_hostname]['interfaces']['Loopback0']['ipv4'] }}
  no bgp default ipv4-unicast
  maximum-paths 3
  distance bgp 20 200 200
  neighbor SPINE_config peer group
{% if 'DC1' in inventory_hostname %}
  neighbor SPINE_config remote-as {{ config['global']['BGP']['ASN']['spine1-DC1'] }}
{% elif 'DC2' in inventory_hostname %}
  neighbor SPINE_config remote-as {{ config['global']['BGP']['ASN']['spine1-DC2'] }}
{% endif %}
  neighbor SPINE_config send-community
  neighbor SPINE_config maximum-routes 12000
  neighbor LEAF_Peer peer group
  neighbor LEAF_Peer remote-as {{ config['global']['BGP']['ASN'][inventory_hostname] }}
  neighbor LEAF_Peer next-hop-self
  neighbor LEAF_Peer maximum-routes 12000
{% for peer in config[inventory_hostname]['spine_peers'] %}
  neighbor {{ peer }} peer group SPINE_config
{% endfor %}
{% if 'Even' in config[inventory_hostname]['MLAG'] %}
  neighbor 192.168.255.1 peer group LEAF_Peer
{% elif 'Odd' in config[inventory_hostname]['MLAG'] %}
  neighbor 192.168.255.2 peer group LEAF_Peer
{% endif %}
{% if 'borderleaf' in inventory_hostname %}
  neighbor DCI_config peer group
  neighbor DCI_config remote-as {{ config['global']['BGP']['ASN']['DCI'] }}
  neighbor DCI_config send-community
  neighbor DCI_config maximum-routes 12000
  neighbor {{ config[inventory_hostname]['dci_peer'] }} peer group DCI_config
{% endif %}
  redistribute connected route-map LOOPBACK
  address-family ipv4
    neighbor SPINE_config activate
    neighbor LEAF_Peer activate
    neighbor DCI_config activate
    redistribute connected route-map LOOPBACK